@model FlightTrend.WebApp.ViewModels.CheapestReturnFlightsViewModel.Item


<div class="return-flight-info">
    <div class="return-flight-price @(Model.ReturnFlight.TotalPrice < 110 ? "highlight" : "")">
        <span>£ @Math.Round(Model.ReturnFlight.TotalPrice).ToString("####")</span>
    </div>
    <div class="flight-info-container">
        @Html.Partial("_FlightInfo", Model.ReturnFlight.Departure)

        @Html.Partial("_FlightInfo", Model.ReturnFlight.Return, new ViewDataDictionary { { "isReturn", true } })
    </div>
</div>