@model IEnumerable<FlightTrend.Core.Models.ReturnFlight>
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("_ReturnFlight", item)
                </div>
            </div>
        }
    </div>
</div>